@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Nunito:wght@200;300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}
.wrapper {
    overflow-x: clip;
    position: relative;
}

body {
    background-color: antiquewhite !important;

    font-family: Arial, Helvetica, sans-serif;
}


/* Bootstrap start */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* XLarge */
@media (min-width: 1440px) {
    .container {
        width: 1370px;
    }
}
/* Bootstrap end */

/* Style start */

.menuNav {
    position: relative !important;
    opacity: 1 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727 !important;
    color: #f6f4e6 ;
    z-index: 10;
    padding: 15px !important;

}


.menuNav .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* margin-bottom: 3em; */
}
.menuNav .container .logo {
     
     width: 200px;
    display: flex;
    justify-content: center;
}
.menuNav .container .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items a:hover , .active a[aria-expanded="true"]  {
    color: gold !important;
    background: dimgray;
    border-radius: 5px;
    padding: 5px;
    }
form {
    width: fit-content !important;
}
.menuNav .container .nav-items a, form button {
    text-decoration: none;
    color: #f6f4e6 ;
    font-size: 1.1em;
    /* margin-right: 2.5em; */
    margin-left: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-family: "Belleza", sans-serif;
text-transform: uppercase;
}

form button{
    border: none;
    background-color: transparent;
}



.food-category {
    margin: 4rem 5vw;
}
.category-title {
    font-family: "Belleza", sans-serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;
    letter-spacing: 4px;
}

.shopping-link {
    position: absolute;
    z-index: 9;
    border-radius: 40px;
    padding: 0.5em;
    top: 1em;
    left: 1em;
    background-color: white;
    font-size: 1.3em;
    opacity: 0.8;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 3px 19px -7px rgb(0 0 0 / 10%);
}

.card-image {
    width: 100%;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    background-color: #fff;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
    width: 100%;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

.card-header {
    gap: 2em;
    padding: 2em;
    border-radius: 40px 0 0 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
    width: 100%;
}

.border {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.border path {
    fill: #fff;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header {
    transform: translateY(0);
}

.card-title {
    font-size: 1em;
    margin: 0 0 0.3em;
    color: #6a515e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title i {
    font-size: 1.3em;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}
.card-title i:hover {
    opacity: 1;
}

.price {
    font-size: 0.8em;
    color: #d7bdca;
}

.card-description {
    padding: 0 2em 2em;
    color: #d7bdca;
}

.stand-alone {
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
}
.meal{
    max-width: 400px;
}


@media (max-width: 1450px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .stand-alone {
      grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
  }
}
@media (max-width: 850px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .border {
        bottom: 98%;
    }
    nav .nav-links {
        display: none;
    }
    nav #navBtn {
        display: block;
        cursor: pointer;
    }
    .responsive {
        display: flex !important;
        flex-direction: column;
        list-style: none;
        position: absolute;
        background-color: white;
        z-index: -1;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        top: 70px;
        align-items: center;
        padding: 0;
    }
    .responsive li {
        margin: 0.5em 0 !important;
    }
}
@media (max-width: 480px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .border {
        bottom: 98%;
    }
}
